### TUPLE ###

una tupla è una collezione ordinata di oggetti(racchiusi fra parentesi tonde)

**Le Tuple sono strutture "immutabili" ciò vuol dire che non possono essere aggiornate o i loro elementi cambiati di valore.**

In [9]:
tup1 = ('dte', 'pcu', 'spct')
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"

Come le stringhe e liste, è un tipo _sequenza_ accessibile per indice e su cui funzionano le operazioni definite per le sequenze

In [10]:
tup3[1]

'b'

Come le stringhe è **immutabile**

In [11]:
tup3[1] = 'f'

TypeError: 'tuple' object does not support item assignment

Tale caratteristica non si applica però ai contenuti della tupla, per cui i suoi oggetti possono essere modificati se "mutabili"
Esempio:

In [1]:
t = (12, "abc", ['dte', 'pcu'])
t[2].append('spct')

In [2]:
t

(12, 'abc', ['dte', 'pcu', 'spct'])

**ATTENZIONE che anche un'espressione può essere racchiusa fra parentesi tonde!!!**

In [3]:
dato = (1)

A che tipo appartiene la variabile "dato" appena assegnata?

In [4]:
type(dato)

int

Per inizializzare una tupla di un solo valore devo aggiungere una virgola dopo il valore...

In [5]:
dato = (1,)
type(dato)

tuple

### Operazioni con le tuple ###

lunghezza...

In [ ]:
len(t)

concatenazione...

In [ ]:
tup2 + tup3

ripetizione...

In [12]:
('ciao',) *3

('ciao', 'ciao', 'ciao')

appartenenza...

In [13]:
3 in (1,2,3)

True

iterazione...

In [14]:
for i in (1,2,3):
    print(i **2)

1
4
9

Indicizzazione, _slicing_ e matrici con le tuple...

Data la tupla L

In [15]:
L = ('spct', 'Spct', 'SPCT!')

In [16]:
L[2]

'SPCT!'

offset parte sempre da 0 (ZERO!)

In [17]:
L[-2]

'Spct'

offset negativo

In [18]:
L[1:]

('Spct', 'SPCT!')

sopra esempio di "slicing"

### Funzioni built-in per le tuple ###

In [24]:
tup2

(1, 2, 3, 4, 5)

In [21]:
len(tup2)

5

In [22]:
max(tup2)

5

In [23]:
min(tup2)

1

**tuple([])** converte una lista in tupla

In [8]:
tuple([1, 2, 3])

(1, 2, 3)

### Perche le tuple? ###

Per la loro immutabilità!
Possono per esempio essere passate tra parti diverse di un programma essendo sicuri che non verranno modificate.
- possono essere usate come valore di ritorno di una funzione
- per semplificare le assegnazioni a più variabili